@tailwind base;
@tailwind components;
@tailwind utilities;
body{
    font-family: 'Noto Sans', sans-serif;
}
/* nav css  */
.active{
    @apply text-blue-600
}
.default{
    @apply hover:text-blue-600
}
.form-header{
    @apply grid grid-cols-1 gap-4 justify-between items-center
}
.submit-btn{
    @apply bg-gray-500 w-full p-2 font-medium cursor-pointer hover:bg-white text-white hover:text-black transition hover:border border rounded-md
}
.squar-btn{
    @apply p-2 bg-blue-600 text-white rounded-md
}
.page-title{
    @apply font-semibold text-gray-700
}
.css-1ex1afd-MuiTableCell-root{
    padding: 5px !important;
}
.css-1ygcj2i-MuiTableCell-root{
    padding: 5px !important;
}
/* dashboard css ------------------------------------*/
.dashboard{
    @apply max-w-md mx-auto h-full bg-slate-50 relative
}
/* customers area css------------------------------ */
.customer-container{
    @apply flex w-full justify-between items-center py-2 border-b
}
.customer-item{
    @apply flex items-center gap-3 font-medium p-2 hover:bg-slate-100
}
/* header css ----------------------------------------*/
.header-container{
    @apply flex gap-3 justify-between items-center p-2
}
.header-profile{
    @apply flex justify-end items-center gap-4
}
.profile{
    @apply flex gap-1 items-center cursor-pointer relative
}
.profile-avater{
    @apply py-2 px-3 flex items-center gap-2
}
.profile-link{
    @apply p-2 block text-slate-700 hover:bg-blue-600 hover:text-white border-b border-white
}
/* all products list area css----------------------------- */
.product-container{
    @apply bg-gray-100 mt-2 p-3
}
.table-title{
    @apply font-semibold text-gray-600
}
/* add poduct area css------------------------------------- */
.add-product{
    @apply bg-gray-100 mt-2 p-3
}
.page-header{
    @apply flex justify-between items-center pb-2
}
/* managing page css------------------------------------- */
.manage-page-container{
    @apply grid grid-cols-1 gap-3 justify-between items-center py-3
}