@tailwind base;
@tailwind components;
@tailwind utilities;
body{
    font-family: 'Noto Sans', sans-serif;
}
/* nav css  */
.active{
    @apply text-blue-600
}
.default{
    @apply hover:text-blue-600
}
.css-1ex1afd-MuiTableCell-root{
    padding: 5px !important;
}
.css-1ygcj2i-MuiTableCell-root{
    padding: 5px !important;
}